<div class="login">
    <a class="back1" routerLink="/">
        <i class="fa-solid fa-arrow-left-long"></i>
    </a>

    <div class="div">
        <div class="texto">Accede a tu cuenta</div>
        <input type="email" #input1 class="div_correo" placeholder="Correo">
        <input type="password" #input2 class="div_contrasenya" placeholder="Contraseña">
        <button on-click=iniciarSesion(input1,input2) class="div_boton">INICIAR SESIÓN</button>
        <a class="div_olvidarContra" routerLink="/pagina-recuperar">¿Olvidaste tu contraseña?</a>
        <div>
            <a class="div_noTienesCuenta">¿No tienes una cuenta?</a>
            <a class="div_registrate" routerLink="/pagina-registro">Regístrate</a>
        </div>
    </div>

</div>