.login {
    width: 414px;
    height: 694px;
    margin-top: 132px;
    display: flex;
    justify-content: center;
    font-family: 'Mukta Vaani';
    /* background-color: red; */
}

.back1 {
    position: absolute;
    width: 8px;
    height: 15px;
    left: 40px;
    top: 146px;
    font-size: 25px;
    color: var(--amarillo);
}

.div {
    position: absolute;
    width: 345px;
    min-height: 445px;
    top: 187px;
    background: var(--gris10);
    border-radius: 10px;
    padding-top: 85px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 32px;
}

.texto {
    position: absolute;
    padding-left: 35px;
    width: 269px;
    height: 75px;
    top: 15px;
    font-family: 'Mukta Vaani';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--negro);
}

.div_input {
    width: 310px;
    height: 54px;
    background: #FAFAFA;
    /* opacity: 0.3; */
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    border-radius: 10px;
    font-family: 'Mukta Vaani';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 43px;
    color: var(--negro);
    padding-left: 15px;
    margin-top: 20px;
}

.div_boton {
    width: 186px;
    height: 58px;
    background: var(--amarillo);
    border-radius: 10px;
    font-size: 20px;
    color: var(--negro);
    border: none;
    box-shadow: 0px 1px 3px 1px var(--gris);
    margin-top: 37px;
}

.div_olvidarContra {
    line-height: 27px;
    color: var(--negro);
    text-decoration: none;
    margin-top: 17px;
}

.div_caja {
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.div_noTienesCuenta {
    height: 30px;
    color: #B3ABAC;
    text-decoration: none;
    margin-right: 5px;
    padding-top: 0.5px;
}

.div_registrate {
    line-height: 27px;
    color: var(--negro);
    text-decoration: none;
}