<body class="body">
    <section class="contenedor">
        <button class="boton" routerLink="/pagina-mis-datos">MIS DATOS</button>
        <button class="boton" routerLink="/pagina-kilometraje">KILOMETRAJE</button>
        <button class="boton" routerLink="/pagina-mis-gastos">MIS GASTOS</button>
        <button class="boton" routerLink="/pagina-historial">HISTORIAL</button>
        <button class="boton" routerLink="/sobre-app">SOBRE LA APP</button>
        <button class="boton" routerLink="/sobre-nosotros">SOBRE NOSOTROS</button>
        <div class="caja">
            <a class="cerrar" on-click="cerrarSesion()">Cerrar sesión</a>
            <figure class="linea"></figure>
        </div>
    </section>
</body>