<body class="body">
    <section class="contenedor">
        <button class="boton" routerLink="/pagina-mis-datos">MIS DATOS</button>
        <button class="boton" routerLink="/kilometraje">KILOMETRAJE</button>
        <button class="boton" routerLink="/pagina-mis-gastos">MIS GASTOS</button>
        <button class="boton" routerLink="/historial">HISTORIAL</button>
        <button class="boton" routerLink="/pagina-sobre-nosotros">SOBRE NOSOTROS</button>
        <div class="caja">
            <a class="cerrar" routerLink="/">Cerrar sesión</a>
            <figure class="linea"></figure>

        </div>

    </section>
</body>