<body class="all">
    <section class="back">
        <img src="../../../assets/multimedia/iconoCandado.png" alt="" class="img">
        <p class="text1">¿Tienes problemas para iniciar sesión?</p>
        <p class="text2">Ingresa tu correo electrónico y te enviaremos un enlace para que recuperes
            el acceso a tu cuenta.</p>
        <input type="text" class="input" placeholder="Correo electrónico">
        <button class="butt" on-click=recuperar()>RECUPERAR</button>
    </section>
</body>