.contenedor1{
    position: fixed;
    z-index: 1;
    width: 414px;
    height: 132px;
    left: 0px;
    top: 0px;
    background: #1F191A;
    display:flex;
    flex-direction: row;
    justify-content: center;
    background: #1F191A;
}
.contenedor2{
    /* border: solid 2px red; */
    width:273px;
    height: 132px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.contenedor3{
    /* border: solid 2px red; */
    width: 117px;
    height: 132px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  

}
.boton{
    /* border: solid 2px blue; */
     width: 70px;
     height: 70px;
     background-image: url(../../../assets/multimedia/iconoPersona.png);
     background-repeat: no-repeat;
     background-size: cover; 
     /* background-size: 70px; */
     background-color: #1F191A;
     border:none;

     
}
.titulo{
    color: #FFD966;
    font-size: 32px;
}

 
