<body class="body">
    <section class="contenedor">        
        <article class="card1">
            <img  src="https://prints.ultracoloringpages.com/bdfc309f56efef46654e016eabb39d21.png" alt="" class="foto"> 
            <div class="caja1">
                <div class="texto">
                    <div class="cajaTexto">
                        <h2 class="nombre">Olga Grusza</h2>
                        <h4 class="dev">&lt;Full Stack Developer/&gt;</h4>
                    </div>
                    <div class="iconos">
                        <a class="mail"><i class="fa-solid fa-square-envelope"></i></a>
                        <a class="lk"><i class="fa-brands fa-linkedin" href=""></i></a>
                        <a class="git"><i class="fa-brands fa-github"></i></a>
                    </div>
                </div>
            </div>
        </article>
        <article class="card1">
            <img  src="https://prints.ultracoloringpages.com/bdfc309f56efef46654e016eabb39d21.png" alt="" class="foto"> 
            <div class="caja1">
                <div class="texto">
                    <div class="cajaTexto">
                        <h2 class="nombre">Javier Gomez</h2>
                        <h4 class="dev">&lt;Full Stack Developer/&gt;</h4>
                    </div>
                    <div class="iconos">
                        <a class="mail"><i class="fa-solid fa-square-envelope"></i></a>
                        <a class="lk"><i class="fa-brands fa-linkedin" href=""></i></a>
                        <a class="git"><i class="fa-brands fa-github"></i></a>
                    </div>
                </div>
            </div>
        </article>
        <article class="card1">
            <img  src="https://prints.ultracoloringpages.com/bdfc309f56efef46654e016eabb39d21.png" alt="" class="foto"> 
            <div class="caja1">
                <div class="texto">
                    <div class="cajaTexto">
                        <h2 class="nombre">Pablo Molina</h2>
                        <h4 class="dev">&lt;Full Stack Developer/&gt;</h4>
                    </div>
                    <div class="iconos">
                        <a class="mail"><i class="fa-solid fa-square-envelope"></i></a>
                        <a class="lk"><i class="fa-brands fa-linkedin" href=""></i></a>
                        <a class="git"><i class="fa-brands fa-github"></i></a>
                    </div>
                </div>
            </div>
        </article>
        <article class="card1">
            <img  src="https://prints.ultracoloringpages.com/bdfc309f56efef46654e016eabb39d21.png" alt="" class="foto"> 
            <div class="caja1">
                <div class="texto">
                    <div class="cajaTexto">
                        <h2 class="nombre">Miguel Rodrigues</h2>
                        <h4 class="dev">&lt;Full Stack Developer/&gt;</h4>
                    </div>
                    <div class="iconos">
                        <a class="mail"><i class="fa-solid fa-square-envelope"></i></a>
                        <a class="lk"><i class="fa-brands fa-linkedin" href=""></i></a>
                        <a class="git"><i class="fa-brands fa-github"></i></a>
                    </div>
                </div>
            </div>
        </article>



          
            
            



    

    </section>
    
</body>
