<body class="body">
    <section class="contenedor">
       
        <article class="card1">
            <img class="foto"  src="https://images.unsplash.com/photo-1515378791036-0648a3ef77b2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="" >
            <div class="caja1">
                 <div class="texto">
                    <h2 class="nombre">Olga Grusza</h2>
                    <h4 class="dev">Full Stack Developer</h4>
                    <div class="iconos">
                        <a class="mail"><i class="fa-solid fa-square-envelope"></i></a>
                        <a class="lk"><i class="fa-brands fa-linkedin" href="https://www.linkedin.com/in/olga-stefania-grusza-91b082121//"></i></a>
                        <a class="git"><i class="fa-brands fa-github"></i></a>
                    </div>
                </div>
            </div>
           
        </article>
            <article class="card2">
                <img  src="https://images.unsplash.com/photo-1515378791036-0648a3ef77b2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="" class="foto">
                <div class="caja1">
                     <div class="texto">
                        <h2 class="nombre">Fco Javier Gomez</h2>
                        <h4 class="dev">Full Stack Developer</h4>
                        <div class="iconos">
                            <a class="mail"><i class="fa-solid fa-square-envelope"></i></a>
                            <a class="lk"><i class="fa-brands fa-linkedin" href="https://www.linkedin.com/in/olga-stefania-grusza-91b082121//"></i></a>
                            <a class="git"><i class="fa-brands fa-github"></i></a>
                        </div>
                    </div>
                </div>
               
            </article>
            <article class="card1">
                <img  src="https://images.unsplash.com/photo-1515378791036-0648a3ef77b2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="" class="foto"> 
                <div class="caja1">
                     <div class="texto">
                        <h2 class="nombre">Pablo Molina</h2>
                        <h4 class="dev">Full Stack Developer</h4>
                        <div class="iconos">
                            <a class="mail"><i class="fa-solid fa-square-envelope"></i></a>
                            <a class="lk"><i class="fa-brands fa-linkedin" href="https://www.linkedin.com/in/olga-stefania-grusza-91b082121//"></i></a>
                            <a class="git"><i class="fa-brands fa-github"></i></a>
                        </div>
                    </div>
                </div>
               
            </article>
            <article class="card2">
                <img  src="https://images.unsplash.com/photo-1515378791036-0648a3ef77b2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="" class="foto"> 
               
                <div class="caja1">
                     <div class="texto">
                        <h2 class="nombre">Miguel Rodrigues</h2>
                        <h4 class="dev">Full Stack Developer</h4>
                        <div class="iconos">
                            <a class="mail"><i class="fa-solid fa-square-envelope"></i></a>
                            <a class="lk"><i class="fa-brands fa-linkedin" href="https://www.linkedin.com/in/olga-stefania-grusza-91b082121//"></i></a>
                            <a class="git"><i class="fa-brands fa-github"></i></a>
                        </div>
                    </div>
                </div>
               
            </article>



          
            
            



    

    </section>
    
</body>
