.body
{
    width: 414px;
    height: 694px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.contenedor{
    position: absolute;
    width: 345px;
    height: 579px;
    left: 34px;
    top: 188px;
    background-color:rgba(179, 171, 172, 0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 
.card1{
    border: solid 2px #FFD966;
    background: var(--amarillo);
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center; 
    width: 310px;
    height: 111px;
    /* background: var(--gris40); */
    box-sizing: border-box;
    border-radius: 10px;
    margin-bottom: 10px; 
    left: 41px;
    top: 208px;
    padding: 40px;
}
.foto{
    width: 80px;
    height: 80px;
    left: 58px;
    top: 224px;
    border-radius: 10px;
    background: #C4C4C4;
    margin: 1px;
}
.caja1{
    display:flex;
    flex-direction: column;
    justify-items:center;
    align-items: center;
    width: 310px;
} 
.texto{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 3px;
    text-align: center;
    top: 30px;
}
.iconos{
    width: 100px;
    display: flex;
    flex-direction:row;
    justify-content: space-evenly; 
    align-items: flex-start;
    top: 30px;
}
.nombre{
    width: 200px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    /* left: 154px; */
    /* top: 218px; */
    font-family: 'Mukta Vaani';
    font-style: normal;
    /* font-weight: 500; */
    font-size: 24px;
    line-height: 15px;
   
    color: #000000;
    /* text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
}
.dev{
    width: 200px;
    /* left: 155px; */
    /* top: 256px; */
    font-family: 'Mukta Vaani';
    font-style: normal;
    /* font-weight: 500; */
    font-size: 14px;
    color: #000000;
    display:flex;
    flex-direction: row;
    justify-content: center;
    line-height: 20px;
}
/* .cajaTexto{
    
     border: solid green 2px; 
    height: 30px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    
}  */
.lk{
color: var(--negro)
}
.mail{
    color: var(--negro)
}
.git{
    color: var(--negro)
}
