<section class="home_logueado">

    <section class="card1">

        <h2 class="titulo_1">Bienvenido {{this.usuario.usuario.name}}</h2>

        <p class="consejo">
           {{this.tips.consejo}}
        </p>

        <h4 class="lineas">- - - - - - -</h4>

        <h2 class="titulo_2">Tu próximo servicio es:</h2>

        <div *ngIf="mantenimientos.length === 0 ; else card" class="condicion">

            <div routerLink="/pagina-agregar-mantenimiento" class="card_condicion">
                <p class="texto_condicion">
                    En este momento no tienes ningún servicio próximo.
                    Pulsa aquí para crear un mantenimiento.
                </p>
                <img class="icono_condicion" src="../../../assets/multimedia/precaucion.png">
            </div>
        </div>

        <ng-template #card>
            <div *ngFor="let mantenimiento of mantenimientos; let index=index" on-click="mantenimientoDetalle(index)"
            [ngClass]="compararFecha(mantenimientos.endDate) ? 'cards_mantenimiento_verde': 'cards_mantenimiento_roja'">
                <h1 class="texto_1"> {{mantenimientos[0].type}}</h1>
                <p class="subtexto_1">&nbsp;{{mantenimientos[0].subtype}}</p>
                <p class="texto_2">{{mantenimientos[0].end_date.substring(0,10)}}</p>
                <img class="icono" src="../../../assets/multimedia/iconoGancho.png">
            </div>
        </ng-template>

        <figure class="imagen"></figure>

    </section>

</section>