<section class="home_logueado">

    <section class="card">

        <h2 class="titulo_1">Bienvenido $NombreUsuario</h2>

        <p class="consejo">
            “No escatimes en los precios de los <br>
            recambios, un buen material hará que <br>
            nos duren mucho más tiempo.”
        </p>

        <h2 class="titulo_2">Tu próximo servicio es:</h2>

        <section class="card_mantenimiento">
            <p class="texto_1">FILTRO</p>
            <p class="texto_2">FECHA FIN: 30/03/2022</p>
            <img class="icono" src="../../../assets/multimedia/iconoGancho.png">
        </section>

        <figure class="imagen"></figure>

    </section>

</section>