<body class="all">
    <a class="back1" routerLink="/pagina-perfil">
        <i class="fa-solid fa-arrow-left-long"></i>
    </a>

    <form class="back" #modificarForm="ngForm" (ngSubmit)="onSubmit(modificarForm)">

        <div class="tittle">
            <p class="text">Media semanal de KM</p>
        </div>

        <div class="caja1">
            <input class="input" type="number" name="kilometers_car" [(ngModel)]="usuarioModificado.kilometers_car"
                #kilometers_car="ngModel" [ngClass]="{'is-invalid': modificarForm.submitted && kilometers_car.invalid }"
                required>
            <div class="invalid-feedback col" *ngIf="modificarForm.submitted && kilometers_car.invalid">
                <p *ngIf="kilometers_car.errors.required">Campo obligatorio</p>
            </div>
        </div>

        <div class="tittle">
            <p class="text">Año de matriculación</p>
        </div>

        <div class="caja1">
            <input class="input" type="number" name="year_car" [(ngModel)]="usuarioModificado.year_car"
                #year_car="ngModel" value="" [ngClass]="{'is-invalid': modificarForm.submitted && year_car.invalid }"
                required>
            <div class="invalid-feedback col" *ngIf="modificarForm.submitted && year_car.invalid">
                <p *ngIf="year_car.errors.required">Campo obligatorio</p>
            </div>
        </div>

        <div *ngIf="usuarioModificado.first_log===1">
            <button class="butt">AÑADIR</button>
        </div>
        <div *ngIf="usuarioModificado.first_log===0">
            <button class="butt">MODIFICAR</button>
        </div>
    </form>
</body>