.agregar_mantenimiento {
    width: 414px;
    height: 694px;
    margin-top: 132px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Mukta Vaani';
}


.div {
    position: absolute;
    width: 345px;
    height: 545px;
    top: 188px;
    background: var(--gris10);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;

    /* gap: 350px; */
}

.div_km_coste {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.texto {
    font-size: 10pt;
}

.div_seleccionar {
    width: 303px;
    height: 54px;
    /* background: var(--gris40); */
    border: 1px solid var(--gris);
    box-sizing: border-box;
    border-radius: 10px;
    font-family: 'Mukta Vaani';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 33px;
    padding-left: 15px;
    padding-top: 8px;
    color: var(--negro);
    margin-bottom: 26px;
}

.icono {
    position: absolute;
    width: 36.06px;
    height: 44px;
    left: 290px;
    top: 48px;
}

.icono1 {
    position: absolute;
    width: 36.06px;
    height: 44px;
    left: 290px;
    top: 130px;
}

.div_input {
    width: 310px;
    height: 54px;
    background: #FAFAFA;
    border: 1px solid var(--negro);
    box-sizing: border-box;
    border-radius: 10px;
    font-family: 'Mukta Vaani';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 33px;
    padding-left: 15px;
    color: var(--negro);
    margin-bottom: 26px;
}

.fechaFin {
    display: flex;
    flex-direction: column;

}

.div_boton {
    width: 186px;
    height: 58px;
    background: var(--amarillo);
    border-radius: 10px;
    font-family: 'Mukta Vaani';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 33px;
    text-align: center;
    color: var(--negro);
    border: none;
    box-shadow: 0px 1px 3px 1px var(--gris);
    margin-top: 12px;
}