<div class="agregar_mantenimiento">
    <div class="div">
        <div class="form-group div1">
            <select class="form-select div_seleccionar bg-secondary" style="--bs-bg-opacity: .2;" name="mantenimientos"
                #tipoMantenimiento on-change="mantenimientoSeleccion(tipoMantenimiento.value)">

                <option value="seleciona mantenimiento">Seleciona mantenimiento
                </option>
                <option *ngFor="let mantenimiento of mantenimientos" [value]="mantenimiento">
                    {{mantenimiento}}
                </option>
            </select>
        </div>

        <div *ngIf="formularioBasico" class="div_km_coste">
            <input type="number" class="div_input" placeholder="Coste" #coste>
            <button type="reset" on-click=agregarBasico(tipoMantenimiento.value,coste.value)
                class="div_boton">AGREGAR</button>
        </div>

        <div *ngIf="formularioFiltros" class="div_km_coste">
            <select class="form-select div_seleccionar bg-secondary" style="--bs-bg-opacity: .2;" name="filtro" #filtro>
                <option value="">Tipo
                </option>
                <option *ngFor="let filtro of tipoFiltro" [value]="filtro">
                    {{filtro}}
                </option>
            </select>
            <input type="number" class="div_input" placeholder="Coste" #coste>
            <button type="" on-click=agregarFiltro(tipoMantenimiento.value,filtro.value,coste.value)
                class="div_boton">AGREGAR</button>
        </div>

        <div *ngIf="formularioFrenos" class="div_km_coste">
            <select class="form-select div_seleccionar bg-secondary" style="--bs-bg-opacity: .2;" name="freno" #freno>
                <option value="">Tipo
                </option>
                <option *ngFor="let freno of tipoFreno" [value]="freno">
                    {{freno}}
                </option>
            </select>
            <input type="number" class="div_input" placeholder="Coste" #coste>
            <button on-click=agregarFreno(tipoMantenimiento.value,freno.value,coste.value)
                class="div_boton">AGREGAR</button>
        </div>

        <div *ngIf="formularioNeumaticos" class="div_km_coste">
            <select class="form-select div_seleccionar bg-secondary" style="--bs-bg-opacity: .2;" name="neumatico"
                #posicionNeumatico>

                <option value="">Posición
                </option>
                <option *ngFor="let neumatico of tipoNeumatico" [value]="neumatico">
                    {{neumatico}}
                </option>
            </select>
            <select class="form-select div_seleccionar bg-secondary" style="--bs-bg-opacity: .2;" name="traccion"
                #traccion>

                <option value="">Tracción
                </option>
                <option *ngFor="let traccion of tipoTraccion" [value]="traccion">
                    {{traccion}}
                </option>
            </select>
            <input type="number" class="div_input" placeholder="Coste" #coste>
            <button
                on-click=agregarNeumatico(tipoMantenimiento.value,posicionNeumatico.value,traccion.value,coste.value)
                class="div_boton">AGREGAR</button>
        </div>
        <div *ngIf="formularioITV" class="div_km_coste">
            <input type="number" class="div_input" placeholder="Coste" #coste>
            <button on-click=agregarItv(tipoMantenimiento.value,coste.value) class="div_boton">AGREGAR</button>
        </div>
        <div *ngIf="formularioOtros" class="div_km_coste">
            <input class="div_input" placeholder="Nombre del mantenimiento" #nombre>
            <input class="div_input" placeholder="Descripción" #descripcion>
            <input type="number" class="div_input" placeholder="Coste" #coste>
            <div class="fechaFin">
                Fecha Fin
                <input type="date" class="div_input" placeholder="Fecha fin" #fecha>
            </div>
            <button on-click=agregarOtro(tipoMantenimiento.value,nombre.value,descripcion.value,coste.value,fecha.value)
                class="div_boton">AGREGAR</button>
        </div>




    </div>
</div>