<section class="detalleMantenimiento">

    <section class="card">

        <a routerLink="/pagina-mantenimiento">
            <img src="../../../assets/multimedia/back.png" class="back">
        </a>


        <div>
            <h2 class="l1 txtNegro">Tipo de mantenimiento:</h2>
            <h2 class="l2 txtAmarillo"> {{mantenimientos.type}} </h2>
        </div>
        <!-- <div>
            <h2 class="l3 txtNegro">Ruedas:</h2>
            <h2 class="l4 txtAmarillo">Par delantero</h2>
        </div>
        <div>
            <h2 class="l5 txtNegro">Tipo de tracción:</h2>
            <h2 class="l6 txtAmarillo">Delantera</h2>
        </div> -->
        <div>
            <h2 class="l7 txtNegro">Creado con fecha:</h2>
            <h2 class="l8 txtAmarillo">02/01/2019</h2>
        </div>
        <div>
            <h2 class="l9 txtNegro">Fecha de finalización:</h2>
            <h2 class="l10 txtAmarillo">16/04/2022</h2>
        </div>
        <div>
            <h2 class="l11 txtNegro">Coste:</h2>
            <h2 class="l12 txtAmarillo">30,99 €</h2>
        </div>

        <img src="../../../assets/multimedia/detalleMan.png" class="animacion">

    </section>

</section>