<section class="detalleMantenimiento">

    <a class="back" routerLink="/pagina-mantenimiento">
        <i class="fa-solid fa-arrow-left-long"></i>
    </a>
    <div *ngIf='mantenimientos.type==="bateria"||mantenimientos.type==="aceitemotor"||mantenimientos.type==="bujías"
    ||mantenimientos.type==="correadedistribución"||mantenimientos.type==="limpiaparabrisas"||
    mantenimientos.type==="itv"'>
        <section class="card1">

            <button type="reset" on-click=eliminar() class="eliminar"><i class="fa-solid fa-xmark"></i></button>

            <div>
                <h2 class="l1 txtNegro">Tipo de mantenimiento:</h2>
                <h2 class="l2 txtAmarillo"> {{mantenimientos.type | titlecase}} </h2>
            </div>
            <div>
                <h2 class="l3 txtNegro">Creado con fecha:</h2>
                <h2 class="l4 txtAmarillo">{{mantenimientos.start_date.substring(0,10)}}</h2>
            </div>
            <div>
                <h2 class="l5 txtNegro">Fecha de finalización:</h2>
                <h2 class="l6 txtAmarillo">{{mantenimientos.end_date.substring(0,10)}}</h2>
            </div>
            <div>
                <h2 class="l7 txtNegro">Coste:</h2>
                <h2 class="l8 txtAmarillo">{{mantenimientos.cost}}€</h2>
            </div>

            <img src="../../../assets/multimedia/detalleMan.png" class="animacion">

        </section>
    </div>
    <div *ngIf='mantenimientos.type==="neumáticos"'>
        <section class="card1">

            <button type="reset" on-click=eliminar() class="eliminar"><i class="fa-solid fa-xmark"></i></button>

            <div>
                <h2 class="l1 txtNegro">Tipo de mantenimiento:</h2>
                <h2 class="l2 txtAmarillo"> {{mantenimientos.type | titlecase}} </h2>
            </div>
            <div>
                <h2 class="l3 txtNegro">Posición:</h2>
                <h2 class="l4 txtAmarillo">{{mantenimientos.subtype | titlecase}}</h2>
            </div>
            <div>
                <h2 class="l5 txtNegro">Tracción:</h2>
                <h2 class="l6 txtAmarillo">{{mantenimientos.subsubtype | titlecase}}</h2>
            </div>
            <div>
                <h2 class="l7 txtNegro">Creado con fecha:</h2>
                <h2 class="l8 txtAmarillo">{{mantenimientos.start_date.substring(0,10)}}</h2>
            </div>
            <div>
                <h2 class="l9 txtNegro">Fecha de finalización:</h2>
                <h2 class="l10 txtAmarillo">{{mantenimientos.end_date.substring(0,10)}}</h2>
            </div>
            <div>
                <h2 class="l11 txtNegro">Coste:</h2>
                <h2 class="l12 txtAmarillo">{{mantenimientos.cost}}€</h2>
            </div>

            <img src="../../../assets/multimedia/detalleMan.png" class="animacion">

        </section>
    </div>
    <div *ngIf='mantenimientos.type==="frenos"||mantenimientos.type==="filtros"'>
        <section class="card1">

            <button type="reset" on-click=eliminar() class="eliminar"><i class="fa-solid fa-xmark"></i></button>

            <div>
                <h2 class="l1 txtNegro">Tipo de mantenimiento:</h2>
                <h2 class="l2 txtAmarillo"> {{mantenimientos.type | titlecase}} </h2>
            </div>
            <div>
                <h2 class="l3 txtNegro">Tipo:</h2>
                <h2 class="l4 txtAmarillo">{{mantenimientos.subtype | titlecase}}</h2>
            </div>
            <div>
                <h2 class="l5 txtNegro">Creado con fecha:</h2>
                <h2 class="l6 txtAmarillo">{{mantenimientos.start_date.substring(0,10)}}</h2>
            </div>
            <div>
                <h2 class="l7 txtNegro">Fecha de finalización:</h2>
                <h2 class="l8 txtAmarillo">{{mantenimientos.end_date.substring(0,10)}}</h2>
            </div>
            <div>
                <h2 class="l9 txtNegro">Coste:</h2>
                <h2 class="l10 txtAmarillo">{{mantenimientos.cost}}€</h2>
            </div>

            <img src="../../../assets/multimedia/detalleMan.png" class="animacion">

        </section>
    </div>
    <div *ngIf='mantenimientos.type==="otros"'>
        <section class="card1">

            <button type="button" on-click=openModal(template) class="eliminar"><i
                    class="fa-solid fa-xmark"></i></button>

            <div>
                <h2 class="l1 txtNegro">Tipo de mantenimiento:</h2>
                <h2 class="l2 txtAmarillo"> {{mantenimientos.type | titlecase}} </h2>
            </div>
            <div>
                <h2 class="l3 txtNegro">Nombre:</h2>
                <h2 class="l4 txtAmarillo">{{mantenimientos.name | titlecase}}</h2>
            </div>
            <div>
                <h2 class="l5 txtNegro">Creado con fecha:</h2>
                <h2 class="l6 txtAmarillo">{{mantenimientos.start_date.substring(0,10)}}</h2>
            </div>
            <div>
                <h2 class="l7 txtNegro">Fecha de finalización:</h2>
                <h2 class="l8 txtAmarillo">{{mantenimientos.end_date.substring(0,10)}}</h2>
            </div>
            <div>
                <h2 class="l9 txtNegro">Coste:</h2>
                <h2 class="l10 txtAmarillo">{{mantenimientos.cost}}€</h2>
            </div>
            <div>
                <p class="l11 txtDescription">{{mantenimientos.description | titlecase}}</p>
            </div>

            <img src="../../../assets/multimedia/detalleMan.png" class="animacion">

        </section>
    </div>

    <ng-template #template>
        <div class="modal fade" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">¿Estás seguro que deseas eliminar este mantenimiento?</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <!-- <div class="modal-body">
                    <p>Modal body text goes here.</p>
                </div> -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="button" on-click=confirmarEliminar() class="btn btn-primary">Confirmar</button>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>

</section>