<body class="all">
    <a class="back1" routerLink="/pagina-perfil">
        <i class="fa-solid fa-arrow-left-long"></i>
    </a>
    <section class="back">
        <div class="cajatexto">

            <div class="padre">
                <figure class="imagen"></figure>
            </div>
            <p class="text"> ha sido creada para ayudarte <br>
                a gestionar adecuadamente<br>
                todas las revisiones mecánicas<br>
                e inspecciones de seguridad<br>
                de tu vehículo y a controlar sus gastos.<br>
                Un entorno sencillo e intuitivo te permitirá<br>
                tener toda la información actualizada,<br>
                automatizar datos y alertas para tareas de<br>
                mantenimiento y revisiones.
            </p>
            <div class="card">
                <h6 class="subtitle">¡Simplifica tu vida, <br>
                    minimiza gastos y manten tu vehículo siempre en perfecto estado!</h6>
            </div>
        </div>
    </section>
</body>