<body class="all">
    <a class="back1" routerLink="/pagina-perfil">
        <i class="fa-solid fa-arrow-left-long"></i>
    </a>
    <section class="back">
        <div class="cajatexto">
                <h1 class="titulo">¿ Que puedes hacer<br>
                     con nosotros?</h1>
            
                <div class="padre"></div> 
           
            <section class="caja">
                <article class="a">
                    <figure class="lista"></figure>
                    <div class="frase"><p>Agrupar todos los mantenimientos en un único lugar.</p></div>
                    </article>
                <article class="a">
                    <figure class="calendario"></figure>
                    <div class="frase"><p>Organizar tus citas y tus gastos de tu coche. </p></div>
                </article>
                <article class="a">
                    <figure class="hucha"></figure>
                    <div class="frase"><p>Controlar tu dinero y tiempo vinculados a tu coche.</p></div>
                </article>
                <article class="a">
                    <figure class="reloj"></figure>
                    <div class="frase"><p>Estar informado sobre el estado de tus recambios y revisiones.</p></div>
                </article>
            </section>
        </div>
    </section>
</body>