<body class="all">
    <section class="back">
        <p class="text">El objetivo de XXXX es ayudarte a
            gestionar adecuadamente todas las 
           revisiones mecanicas e inspecciones de seguridad de tu vehiculo
            y a controlar sus gastos. 
           Un entorno sencillo e intuitivo te permitirá tener toda la información actualizada, automatizar datos y alertas para tareas de mantenimiento y revisiones.</p>
        <h6 class="subtitle">¡Simplifica tu vida, minimiza gastos y manten tu vehiculo siempre en perfecto estado!</h6>
    </section>
</body>