<div class="registro">

    <div class="div">
        <div class="texto">Introduce tus datos</div>
        <input type="text" #nombre class="div_nombre" placeholder="Nombre">
        <input type="text" #apellido class="div_apellido" placeholder="Apellido">
        <input type="email" #correo class="div_correo" placeholder="Correo">
        <input type="password" #password class="div_contraseña" placeholder="Contraseña">
        <input type="password" #password1 class="div_contraseña1" placeholder="Repetir contraseña">
        <button type="button" class="boton"
            on-click=registrarse(nombre,apellido,correo,password,password1)>REGISTRARSE</button>


    </div>





</div>