<div class="registro">
    <a class="back1" routerLink="/">
        <i class="fa-solid fa-arrow-left-long"></i>
    </a>
    <div class="div">
        <div class="texto">Introduce tus datos</div>
        <input type="text" #nombre class="div_nombre" placeholder="Nombre">
        <input type="text" #apellido class="div_apellido" placeholder="Apellido">
        <input type="email" #correo class="div_correo" placeholder="Correo">
        <input type="password" #password class="div_contrasenya" placeholder="Contraseña">
        <input type="password" #password1 class="div_contrasenya1" placeholder="Repetir contraseña">
        <button type="button" class="boton"
            on-click=registrarse(nombre,apellido,correo,password,password1)>REGISTRARSE</button>


    </div>





</div>