<section class="misGastos">
    <a class="back1" routerLink="/pagina-perfil">
        <i class="fa-solid fa-arrow-left-long"></i>
    </a>
    <section class="card">

        <h2 class="titulo">GASTOS TOTALES</h2>

        <section class="grafico">
            <ngx-charts-advanced-pie-chart [view]="view" scheme=fire [results]="single" [gradient]="gradient"
                (select)="onSelect($event)" (activate)="onActivate($event)" (deactivate)="onDeactivate($event)">
            </ngx-charts-advanced-pie-chart>
        </section>

    </section>

</section>