<body class="all">
    <a class="back1" routerLink="/pagina-perfil">
        <i class="fa-solid fa-arrow-left-long"></i>
    </a>
    <section class="back">
        <div class="caja">
            <div class="label"><label for="nombre" class="">Nombre</label></div>
            <input type="text" value="{{usuario.name}}" #nombre class="input"> 
        </div>
        <div class="caja">
            <div class="label"><label for="apellido" class="">Apellido</label></div>
            <input type="text" value={{usuario.last_name}} #apellido class="input">
        </div>
        <div class="caja">
            <div class="label"><label for="correo" class="">Correo</label></div>
            <input type="text" value={{usuario.email}} #correo class="input">
        </div>
        <div class="caja">
            <div class="label"><label for="contraseña" class="">Contraseña</label></div>
            <input type="password" #password  class="input">
        </div>
        <button on-click="modificar(nombre, apellido, correo, password)" class="butt">MODIFICAR</button>
    </section>
</body>