.all {
    position: absolute;
    width: 414px;
    height: 694px;
    left: 0px;
    top: 133px;
}

.back {
    position: absolute;
    width: 345px;
    height: 464px;
    left: 34px;
    top: 58px;
    border-radius: 10px;
    background-color: var(--gris10);
    display: flex;
    flex-direction: column;
    gap: 26px;
    padding-top: 28px;
}

.caja {
    display: flex;
    justify-content: center;
    /* padding-right: 18px; */
    /* gap: 26px; */
}

.label {
    background-color: var(--gris40);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid var(--gris);
    width: 113px;
    /* text-align: center; */
    padding-left: 15px;
    color: var(--negro);
    padding-top: 15px;
}

.input {
    border: 1px solid var(--gris);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 197px;
    height: 54px;
    padding-left: 15px;
}

.butt {
    /* position: absolute; */
    width: 186px;
    height: 58px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 33px;
    text-align: center;

    background: var(--amarillo);
    border-radius: 10px;
    margin-left: 80px;
    border: none;
    box-shadow: 0px 1px 3px 1px var(--gris);
}