<body class="all">
    <section class="back">
        <div class="caja">
            <div class="label"><label for="nombre" class="">Nombre</label></div>
            <input type="text" #nombre id="nombre" class="input">
        </div>
        <div class="caja">
            <div class="label"><label for="apellido" class="">Apellido</label></div>
            <input type="text" #apellido id="apellido" class="input">
        </div>
        <div class="caja">
            <div class="label"><label for="correo" class="">Correo</label></div>
            <input type="text" #correo id="correo" class="input">
        </div>
        <div class="caja">
            <div class="label"><label for="contraseña" class="">Contraseña</label></div>
            <input type="text" #contraseña id="contraseña" class="input">
        </div>
        <button class="butt">MODIFICAR</button>
    </section>
</body>