@import url('https://fonts.googleapis.com/css2?family=Mukta+Vaani:wght@600&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Mukta Vaani', sans-serif;

}

:root{
    --negro: #1F191A;
    --amarillo: #FFD966;
    --gris40: rgba(179, 171, 172, 0.4);
    --gris10: rgba(179, 171, 172, 0.1);
    --gris: #B3ABAC;
}