<section class="paginaMantenimiento">

    <div class="card1">

        <h2 class="titulo">MANTENIMIENTOS</h2>

        <div *ngIf="mantenimientos.length === 0 ; else card" class="condicion">

            <div routerLink="/pagina-agregar-mantenimiento" class="card_condicion">
                <p class="texto_condicion">
                    En este momento no tienes ningún servicio próximo.
                    Pulsa aquí para crear un mantenimiento.
                </p>
                <img class="icono_condicion" src="../../../assets/multimedia/precaucion.png">
            </div>
        <ng-template #card>
            <div  *ngFor="let mantenimiento of mantenimientos; let index=index" on-click="mantenimientoDetalle(index)"
                class="cards_mantenimiento">

                <section [ngClass]="alerta ? 'cards_mantenimiento_verde': 'cards_mantenimiento_roja'" >
                    <h1 class="texto_1">{{mantenimiento.type}}
                        <p class="subtexto_1">&nbsp;{{mantenimiento.subType}}</p>
                    </h1>
                    <p class="texto_2">FECHA FIN: {{mantenimiento.endDate}} </p>
                    <img class="icono" src="../../../assets/multimedia/iconoGancho.png">
                </section>                
            </div>
        </ng-template>            
        
    </div>

</section>

<!-- *ngIf="anyo== this.mantenimientos.anyo & mes== this.mantenimientos.mes & (this.diasRestantes<= 10); else tarjeta " -->