<section class="paginaMantenimiento">

    <section  class="card">

        <h2 class="titulo">MANTENIMIENTOS</h2>

        <section class="cards_mantenimiento">

            <section class="card_mantenimiento">
                <h1 class="texto_1">NEUMÁTICO
                    <p class="subtexto_1">&nbsp;(Delanteros)</p>
                </h1>
                <p class="texto_2">FECHA FIN: 30/03/2025</p>
                <img class="icono" src="../../../assets/multimedia/iconoGancho.png">
            </section>
    
            <section class="card_mantenimiento">
                <h1 class="texto_1">FILTRO
                    <p class="subtexto_1"></p>
                </h1>
                <p class="texto_2">FECHA FIN: 30/03/2025</p>
                <img class="icono" src="../../../assets/multimedia/iconoGancho.png">
            </section>
    
            <section class="card_mantenimiento">
                <h1 class="texto_1">ACEITE
                    <p class="subtexto_1"></p>
                </h1>
                <p class="texto_2">FECHA FIN: 30/03/2025</p>
                <img class="icono" src="../../../assets/multimedia/iconoGancho.png">
            </section>
    
            <section class="card_mantenimiento">
                <h1 class="texto_1">NEUMÁTICO
                    <p class="subtexto_1">&nbsp;(Traseros)</p>
                </h1>
                <p class="texto_2">FECHA FIN: 30/03/2025</p>
                <img class="icono" src="../../../assets/multimedia/iconoGancho.png">
            </section>
            
            <section class="card_mantenimiento">
                <h1 class="texto_1">FILTRO
                    <p class="subtexto_1"></p>
                </h1>
                <p class="texto_2">FECHA FIN: 30/03/2025</p>
                <img class="icono" src="../../../assets/multimedia/iconoGancho.png">
            </section>
    
            <section class="card_mantenimiento">
                <h1 class="texto_1">ACEITE
                    <p class="subtexto_1"></p>
                </h1>
                <p class="texto_2">FECHA FIN: 30/03/2025</p>
                <img class="icono" src="../../../assets/multimedia/iconoGancho.png">
            </section>
    
            <section class="card_mantenimiento">
                <h1 class="texto_1">NEUMÁTICO
                    <p class="subtexto_1">&nbsp;(Traseros)</p>
                </h1>
                <p class="texto_2">FECHA FIN: 30/03/2025</p>
                <img class="icono" src="../../../assets/multimedia/iconoGancho.png">
            </section>

            <section class="card_mantenimiento">
                <h1 class="texto_1">FILTRO
                    <p class="subtexto_1"></p>
                </h1>
                <p class="texto_2">FECHA FIN: 30/03/2025</p>
                <img class="icono" src="../../../assets/multimedia/iconoGancho.png">
            </section>
    
            <section class="card_mantenimiento">
                <h1 class="texto_1">ACEITE
                    <p class="subtexto_1"></p>
                </h1>
                <p class="texto_2">FECHA FIN: 30/03/2025</p>
                <img class="icono" src="../../../assets/multimedia/iconoGancho.png">
            </section>
    
            <section class="card_mantenimiento">
                <h1 class="texto_1">NEUMÁTICO
                    <p class="subtexto_1">&nbsp;(Traseros)</p>
                </h1>
                <p class="texto_2">FECHA FIN: 30/03/2025</p>
                <img class="icono" src="../../../assets/multimedia/iconoGancho.png">
            </section>

        </section>

    </section>

</section>