.paginaMantenimiento {
    /* position: absolute; */
    width: 414px;
    /* min-height: 50vh; */
    min-height: 694px;
    margin-top: 132px;
    /* background-color: red; */
    padding-bottom: 50px;
}

.back1 {
    position: absolute;
    width: 8px;
    height: 15px;
    left: 40px;
    top: 146px;
    font-size: 25px;
    color: var(--amarillo);
}

.titulo {
    margin-top: 20px;
    font-family: 'Mukta Vaani';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 53px;
    text-align: center;
    color: var(--negro);
}

.card1 {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 345px;
    min-height: 220px;
    margin-left: 34px;
    top: 187px;
    background: var(--gris10);
    border-radius: 10px;
    padding-bottom: 30px;
    border-radius: none;

}

.cards_mantenimiento {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 13px;
    margin-bottom: 10px;
    gap: 20px;
    border: none;
    display: flex;
    width: 310px;
    height: 81px;
    background: var(--gris40);
    /* box-shadow: 0 0 5px 3px green; */
    box-sizing: border-box;
    border-radius: 10px;
    padding-right: 5px;
}


.texto_1 {
    position: absolute;
    width: 129px;
    height: 34px;
    margin-left: 19px;
    margin-top: 9px;
    font-family: 'Mukta Vaani';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 37px;
    color: var(--negro);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row;
}

.subtexto_1 {
    font-family: 'Mukta Vaani';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;
    color: var(--negro);
    margin-top: 8px;
}

.texto_2 {
    position: absolute;
    width: 160px;
    height: 23px;
    margin-left: 19px;
    margin-top: 41px;
    font-family: 'Mukta Vaani';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 23px;
    color: var(--negro);
}

.icono {
    display: flex;
    width: 53px;
    height: 63px;
    margin-left: 249px;
    margin-top: 9px;
}


.condicion {
    position: absolute;
    width: 310px;
    height: 81px;
    left: 17px;
    top: 94px;
    box-sizing: border-box;
    border-radius: 10px;
    font-family: 'Mukta Vaani';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
}

.card_condicion {
    position: absolute;
    width: 310px;
    height: 81px;
    background: var(--gris40);
    box-shadow: 0 0 5px 3px #16EA2C;
    box-sizing: border-box;
    border-radius: 10px;
}

.texto_condicion {
    position: absolute;
    width: 211px;
    height: 58px;
    left: 22px;
    top: 10px;

    font-family: 'Mukta Vaani';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */

    text-align: center;

    color: #000000;
}

.icono_condicion {
    position: absolute;
    width: 64px;
    height: 60px;
    left: 238px;
    top: 10px;
}