<section class="paginaMantenimiento">

    <section class="card">

        <h2 class="titulo">HISTORIAL</h2>

        <section class="cards_mantenimiento">

            <button on-click=historial() class="card_mantenimiento">
                <h1 class="texto_1">NEUMÁTICO
                    <p class="subtexto_1">&nbsp;(Delanteros)</p>
                </h1>
                <p class="texto_2">FECHA FIN: 30/03/2025</p>
                <img class="icono" src="../../../assets/multimedia/iconoGancho.png">
            </button>



        </section>

    </section>

</section>