<section class="background">

    <section class="bloque_1">
        <h2 class="consejo">
            
        </h2>
    </section>

    <section class="bloque_2">
        <figure class="imagen"></figure>
    </section>

    <section class="bloque_3">
        <button type="button" class="btn_home" on-click=iniciarSesion()>
            INICIAR SESIÓN
        </button>
    </section>

    <section class="bloque_4">
        <p class="enlace_1">¿No tienes una cuenta?</p>
        <a class="enlace_2" routerLink="/pagina-registro">Regístrate</a>
    </section>

</section>